Repository team-slind/slind, pull requests merged in 2024-11, with the labels that each got.

#85 refactor : axios url 수정
  frontend/src/api/httpAxios.jsx
  frontend/src/api/useAxios.jsx
  frontend/src/components/GeneralBoard.jsx
  frontend/src/components/Join.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/MainCourtBoard.jsx
  frontend/src/components/MainLatestBoard.jsx
  frontend/src/components/Modal/CreateBoardModal.jsx
  frontend/src/components/MyContent.jsx
  frontend/src/components/MyContentItem.jsx
  frontend/src/components/MyPage.jsx
  frontend/src/components/Nav.jsx
  frontend/src/components/NormalComments.jsx
  frontend/src/components/PostDetail.jsx
  frontend/src/components/PostForm.jsx
Labels: bug, duplicate, backend

#86 Back/psy/access token setting
  backend/slind/src/main/java/com/team2/slind/article/controller/ArticleController.java
  backend/slind/src/main/java/com/team2/slind/article/service/ArticleService.java
  backend/slind/src/main/java/com/team2/slind/board/controller/BoardController.java
  backend/slind/src/main/java/com/team2/slind/comment/controller/CommentController.java
  backend/slind/src/main/java/com/team2/slind/comment/service/CommentService.java
  backend/slind/src/main/java/com/team2/slind/judgement/controller/JudgementController.java
  backend/slind/src/main/java/com/team2/slind/member/controller/MemberController.java
  backend/slind/src/main/java/com/team2/slind/member/login/filter/CustomJsonUsernamePasswordAuthenticationFilter.java
  backend/slind/src/main/java/com/team2/slind/security/config/SecurityConfig.java
  backend/slind/src/main/java/com/team2/slind/security/util/SecurityUtil.java
Labels: bug, backend

#87 fix: 비로그인 유저 게시글, 게시판, 댓글 쓰기 방지/ 회원가입 에러 해결
  frontend/src/components/GeneralBoard.jsx
  frontend/src/components/Join.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/Modal/CreateBoardModal.jsx
  frontend/src/components/PostDetail.jsx
Labels: bug, frontend

#90 feat: Get Today Hot Articles Using Redis
  backend/slind/src/main/java/com/team2/slind/article/controller/ArticleController.java
  backend/slind/src/main/java/com/team2/slind/article/dto/response/HotArticleResponse.java
  backend/slind/src/main/java/com/team2/slind/article/mapper/ArticleMapper.java
  backend/slind/src/main/java/com/team2/slind/article/service/ArticleService.java
  backend/slind/src/main/java/com/team2/slind/board/service/BoardService.java
  backend/slind/src/main/resources/application.properties
  backend/slind/src/main/resources/com/team2/slind/article/mapper/ArticleMapper.xml
Labels: enhancement, feature, backend

#92 fix : unauthoriztion error in create-board
  backend/slind/src/main/java/com/team2/slind/common/advice/GlobalExceptionHandler.java
Labels: bug, backend

#93 Front/yy/find password
  frontend/src/components/FindPassword.jsx
  frontend/src/components/PasswordConfig.jsx
Labels: enhancement, feature, frontend

#97 refactor : 발표용 재판 승소 기준 수정
  backend/slind/src/main/java/com/team2/slind/judgement/batch/BatchConfig.java
Labels: bug, feature, backend

#98 Backend
  backend/slind/src/main/java/com/team2/slind/judgement/batch/BatchConfig.java
Labels: backend

#99 style: console log 및 주석 제거
  frontend/src/components/BestComments.jsx
  frontend/src/components/FindPassword.jsx
  frontend/src/components/GeneralBoard.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImageListDisplay.jsx
  frontend/src/components/InputComment.jsx
  frontend/src/components/InputReComment.jsx
  frontend/src/components/Join.jsx
  frontend/src/components/MainCourtBoard.jsx
  frontend/src/components/MainLatestBoard.jsx
  frontend/src/components/MyContent.jsx
  frontend/src/components/NormalComments.jsx
  frontend/src/components/Pagenation.jsx
  frontend/src/components/PostCountsInfo.jsx
  frontend/src/components/PostDetail.jsx
  frontend/src/components/PostForm.jsx
  frontend/src/components/PostHeaderMain.jsx
  frontend/src/components/ReComments.jsx
Labels: frontend

#100 Frontend
  frontend/src/components/BestComments.jsx
  frontend/src/components/FindPassword.jsx
  frontend/src/components/GeneralBoard.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImageListDisplay.jsx
  frontend/src/components/InputComment.jsx
  frontend/src/components/InputReComment.jsx
  frontend/src/components/Join.jsx
  frontend/src/components/MainCourtBoard.jsx
  frontend/src/components/MainLatestBoard.jsx
  frontend/src/components/MyContent.jsx
  frontend/src/components/NormalComments.jsx
  frontend/src/components/Pagenation.jsx
  frontend/src/components/PostCountsInfo.jsx
  frontend/src/components/PostDetail.jsx
  frontend/src/components/PostForm.jsx
  frontend/src/components/PostHeaderMain.jsx
  frontend/src/components/ReComments.jsx
Labels: frontend

#105 fix: delete unused import
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
Labels: bug, backend

#106 Merge : Backend
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
Labels: bug, backend

#107 Merge: Slind Version 1.1.0
  backend/slind/build.gradle
  backend/slind/src/main/java/com/team2/slind/article/mapper/ArticleMapper.java
  backend/slind/src/main/java/com/team2/slind/board/mapper/BoardMapper.java
  backend/slind/src/main/java/com/team2/slind/judgement/batch/BatchConfig.java
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
  backend/slind/src/main/java/com/team2/slind/judgement/service/JudgementService.java
  backend/slind/src/main/resources/com/team2/slind/article/mapper/ArticleMapper.xml
  backend/slind/src/main/resources/com/team2/slind/board/mapper/BoardMapper.xml
Labels: bug, backend

#108 fix: delete axios range
  frontend/src/components/MyContentItem.jsx
  frontend/src/components/Nav.jsx
Labels: bug, frontend

#109 Frontend
  frontend/src/components/AsideRealTimeBoard.jsx
  frontend/src/components/MyContentItem.jsx
  frontend/src/components/Nav.jsx
  frontend/src/components/PostHeaderMain.jsx
  frontend/src/components/css/AsideRealTimeBoard.css
Labels: bug, frontend

#110 refactor: 스케줄러 시간 변경
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
  backend/slind/src/main/java/com/team2/slind/judgement/service/JudgementService.java
  backend/slind/src/main/resources/com/team2/slind/judgement/mapper/JudgementMapper.xml
Labels: bug, feature, backend

#111 Backend
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
  backend/slind/src/main/java/com/team2/slind/judgement/service/JudgementService.java
  backend/slind/src/main/resources/com/team2/slind/judgement/mapper/JudgementMapper.xml
Labels: bug, backend

#112 Merge : Slind ver 1.1.1
  backend/slind/src/main/java/com/team2/slind/judgement/batch/SchedulerConfig.java
  backend/slind/src/main/java/com/team2/slind/judgement/service/JudgementService.java
  backend/slind/src/main/resources/com/team2/slind/judgement/mapper/JudgementMapper.xml
  frontend/src/components/AsideRealTimeBoard.jsx
  frontend/src/components/MyContentItem.jsx
  frontend/src/components/Nav.jsx
  frontend/src/components/PostHeaderMain.jsx
  frontend/src/components/css/AsideRealTimeBoard.css
Labels: bug, backend, frontend
